<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.punte">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GameStart"></activity>
        <activity android:name=".Game2" />
        <activity android:name=".Game" />
        <activity android:name=".LaunchScreen" />
        <activity android:name=".Quizmain1" />
        <activity android:name=".Wordverb20" />
        <activity android:name=".Wordverb19" />
        <activity android:name=".Wordverb18" />
        <activity android:name=".Wordverb17" />
        <activity android:name=".Wordverb16" />
        <activity android:name=".Wordverb15" />
        <activity android:name=".Wordverb14" />
        <activity android:name=".Wordverb13" />
        <activity android:name=".Wordverb12" />
        <activity android:name=".Wordverb11" />
        <activity android:name=".Wordverb10" />
        <activity android:name=".Wordverb9" />
        <activity android:name=".Wordverb8" />
        <activity android:name=".Wordverb7" />
        <activity android:name=".Wordverb6" />
        <activity android:name=".Wordverb5" />
        <activity android:name=".Wordverb4" />
        <activity android:name=".Wordverb3" />
        <activity android:name=".Wordverb2" />
        <activity android:name=".Wordverb1" />
        <activity android:name=".Wordfood45" />
        <activity android:name=".Wordfood44" />
        <activity android:name=".Wordfood43" />
        <activity android:name=".Wordfood42" />
        <activity android:name=".Wordfood41" />
        <activity android:name=".Wordfood40" />
        <activity android:name=".Wordfood39" />
        <activity android:name=".Wordfood38" />
        <activity android:name=".Wordfood37" />
        <activity android:name=".Wordfood36" />
        <activity android:name=".Wordfood35" />
        <activity android:name=".Wordfood34" />
        <activity android:name=".Wordfood33" />
        <activity android:name=".Wordfood32" />
        <activity android:name=".Wordfood31" />
        <activity android:name=".Wordfood30" />
        <activity android:name=".Wordfood29" />
        <activity android:name=".Wordfood28" />
        <activity android:name=".Wordfood27" />
        <activity android:name=".Wordfood26" />
        <activity android:name=".Wordfood25" />
        <activity android:name=".Wordfood24" />
        <activity android:name=".Wordfood23" />
        <activity android:name=".Wordfood22" />
        <activity android:name=".Wordfood21" />
        <activity android:name=".Wordfood20" />
        <activity android:name=".Wordfood19" />
        <activity android:name=".Wordfood18" />
        <activity android:name=".Wordfood17" />
        <activity android:name=".Wordfood16" />
        <activity android:name=".Wordfood15" />
        <activity android:name=".Wordfood14" />
        <activity android:name=".Wordfood13" />
        <activity android:name=".Wordfood12" />
        <activity android:name=".Wordfood11" />
        <activity android:name=".Wordfood10" />
        <activity android:name=".Wordfood9" />
        <activity android:name=".Wordfood8" />
        <activity android:name=".Wordfood7" />
        <activity android:name=".Wordfood6" />
        <activity android:name=".Wordfood5" />
        <activity android:name=".Wordfood4" />
        <activity android:name=".Wordfood3" />
        <activity android:name=".Wordfood2" />
        <activity android:name=".Wordfood1" />
        <activity android:name=".Wordfest42" />
        <activity android:name=".Wordfest41" />
        <activity android:name=".Wordfest40" />
        <activity android:name=".Wordfest39" />
        <activity android:name=".Wordfest38" />
        <activity android:name=".Wordfest37" />
        <activity android:name=".Wordfest36" />
        <activity android:name=".Wordfest35" />
        <activity android:name=".Wordfest34" />
        <activity android:name=".Wordfest33" />
        <activity android:name=".Wordfest32" />
        <activity android:name=".Wordfest31" />
        <activity android:name=".Wordfest30" />
        <activity android:name=".Wordfest29" />
        <activity android:name=".Wordfest28" />
        <activity android:name=".Wordfest27" />
        <activity android:name=".Wordfest26" />
        <activity android:name=".Wordfest25" />
        <activity android:name=".Wordfest24" />
        <activity android:name=".Wordfest23" />
        <activity android:name=".Wordfest22" />
        <activity android:name=".Wordfest21" />
        <activity android:name=".Wordfest20" />
        <activity android:name=".Wordfest19" />
        <activity android:name=".Wordfest18" />
        <activity android:name=".Wordfest17" />
        <activity android:name=".Wordfest16" />
        <activity android:name=".Wordfest15" />
        <activity android:name=".Wordfest14" />
        <activity android:name=".Wordfest13" />
        <activity android:name=".Wordfest12" />
        <activity android:name=".Wordfest11" />
        <activity android:name=".Wordfest10" />
        <activity android:name=".Wordfest9" />
        <activity android:name=".Wordfest8" />
        <activity android:name=".Wordfest7" />
        <activity android:name=".Wordfest6" />
        <activity android:name=".Wordfest5" />
        <activity android:name=".Wordfest4" />
        <activity android:name=".Wordfest3" />
        <activity android:name=".Wordfest2" />
        <activity android:name=".Wordfest1" />
        <activity android:name=".Wordtool38" />
        <activity android:name=".Wordtool37" />
        <activity android:name=".Wordtool36" />
        <activity android:name=".Wordtool35" />
        <activity android:name=".Wordtool34" />
        <activity android:name=".Wordtool33" />
        <activity android:name=".Wordtool32" />
        <activity android:name=".Wordtool31" />
        <activity android:name=".Wordtool30" />
        <activity android:name=".Wordtool29" />
        <activity android:name=".Wordtool28" />
        <activity android:name=".Wordtool27" />
        <activity android:name=".Wordtool26" />
        <activity android:name=".Wordtool25" />
        <activity android:name=".Wordtool24" />
        <activity android:name=".Wordtool23" />
        <activity android:name=".Wordtool22" />
        <activity android:name=".Wordtool21" />
        <activity android:name=".Wordtool20" />
        <activity android:name=".Wordtool19" />
        <activity android:name=".Wordtool18" />
        <activity android:name=".Wordtool17" />
        <activity android:name=".Wordtool16" />
        <activity android:name=".Wordtool15" />
        <activity android:name=".Wordtool14" />
        <activity android:name=".Wordtool13" />
        <activity android:name=".Wordtool12" />
        <activity android:name=".Wordtool11" />
        <activity android:name=".Wordtool10" />
        <activity android:name=".Wordtool9" />
        <activity android:name=".Wordtool8" />
        <activity android:name=".Wordtool7" />
        <activity android:name=".Wordtool6" />
        <activity android:name=".Wordtool5" />
        <activity android:name=".Wordtool4" />
        <activity android:name=".Wordtool3" />
        <activity android:name=".Wordtool2" />
        <activity android:name=".Wordtool1" />
        <activity android:name=".Word38" />
        <activity android:name=".Word37" />
        <activity android:name=".Word36" />
        <activity android:name=".Word35" />
        <activity android:name=".Word34" />
        <activity android:name=".Word33" />
        <activity android:name=".Word32" />
        <activity android:name=".Word31" />
        <activity android:name=".Word30" />
        <activity android:name=".Word29" />
        <activity android:name=".Word28" />
        <activity android:name=".Word27" />
        <activity android:name=".Word26" />
        <activity android:name=".Word25" />
        <activity android:name=".Word24" />
        <activity android:name=".Word23" />
        <activity android:name=".Word22" />
        <activity android:name=".Word21" />
        <activity android:name=".Word20" />
        <activity android:name=".Word19" />
        <activity android:name=".Word18" />
        <activity android:name=".Word17" />
        <activity android:name=".Word16" />
        <activity android:name=".Word15" />
        <activity android:name=".Word14" />
        <activity android:name=".Word13" />
        <activity android:name=".Word12" />
        <activity android:name=".Word11" />
        <activity android:name=".Word10" />
        <activity android:name=".World10" />
        <activity android:name=".Prayai" />
        <activity android:name=".Sapanhin" />
        <activity android:name=".Kaokad" />
        <activity android:name=".Panwa" />
        <activity android:name=".Juitui" />
        <activity android:name=".Sangtham" />
        <activity android:name=".Katu" />
        <activity android:name=".Thaihua" />
        <activity android:name=".Chinpracha" />
        <activity android:name=".Kamala" />
        <activity android:name=".Patong" />
        <activity android:name=".Promtep" />
        <activity android:name=".Talang" />
        <activity android:name=".Watpratong" />
        <activity android:name=".Watchalong" />
        <activity android:name=".Yonadeet" />
        <activity android:name=".Derntao" />
        <activity android:name=".Ploytao" />
        <activity android:name=".Tawtep" />
        <activity android:name=".Loylua" />
        <activity android:name=".Kinpak" />
        <activity android:name=".Portor" />
        <activity android:name=".Row" />
        <activity android:name=".History" />
        <activity android:name=".Place" />
        <activity android:name=".tradition" />
        <activity android:name=".knowmain" />
        <activity android:name=".Word9" />
        <activity android:name=".Word8" />
        <activity android:name=".Word7" />
        <activity android:name=".Word6" />
        <activity android:name=".Word5" />
        <activity android:name=".Word4" />
        <activity android:name=".Word3" />
        <activity android:name=".Word2" />
        <activity android:name=".Quizmain" />
        <activity android:name=".Answer" />
        <activity android:name=".MainQuiz1" />
        <activity android:name=".Quiz1" />
        <activity android:name=".Verbword" />
        <activity android:name=".Festivalword" />
        <activity android:name=".Toolword" />
        <activity android:name=".Foodword" />
        <activity android:name=".Word1" />
        <activity android:name=".Relativeword" />
        <activity android:name=".Knowativity" />
        <activity android:name=".Gamemain" />
        <activity android:name=".Wordmain" />
        <activity android:name=".Homeactivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>